<div class="container-float">                                        
    <div class="dropdown">
      <button class="btn btn-primary dropdown-toggle" type="button" data-toggle="dropdown">SelectBloodGroup
      <span class="caret"></span></button>
      <ul class="dropdown-menu">
        <li><a href="/home">All</a></li>
        <li><a href="/see/A+ve">A+ve</a></li>
        <li><a href="/see/B+ve">B+ve</a></li>
        <li><a href="/see/AB+ve">AB+ve</a></li>
        <li><a href="/see/O+ve">O+ve</a></li>
      </ul>
      <a href="/check"><button type="button" class="btn btn-danger">Available Doners</button></a>
    </div>
    </div>
    